<launch>
    <arg name="param_file" default="$(find detector_msg_to_pose_array)/config/detectors.yaml" />
    <rosparam command="load" file="$(arg param_file)"/>

    <arg name="machine" default="localhost" />
    <arg name="user" default="" />

    <machine name="$(arg machine)" address="$(arg machine)" env-loader="$(optenv ROS_ENV_LOADER )" user="$(arg user)" default="true"/>
    
    <node pkg="detector_msg_to_pose_array" type="to_pose_array.py" name="to_pose_array" output="screen" respawn="true">
    </node>

</launch> 
