<launch>
  <arg name="conf" default="$(find upper_body_detector)/config/config_Asus.inp" />
  <arg name="temp" default="$(find upper_body_detector)/config/upper_temp_n.txt" />

  <node pkg="upper_body_detector" type="upper_body_detector" name="upper_body_detector">
		<param name="config_file" value="$(arg conf)" type="string"/>
    <param name="template_file" value="$(arg temp)" type="string"/>
	</node>

</launch> 
