<launch>
    <!-- Global paramters -->
    <arg name="load_params_from_file" default="false" />
    <arg name="gh_queue_size" default="10" />
    <arg name="gp_queue_size" default="5" />
    <!-- <arg name="vo_queue_size" default="5" /> -->
    <arg name="ubd_queue_size" default="5" />
    <arg name="pt_queue_size" default="10" />
    <arg name="ptu_state" default="/ptu/state" />
    <arg name="camera_namespace" default="/head_xtion" />
    <arg name="rgb_image" default="/rgb/image_rect_color" />
    <arg name="depth_image" default="/depth/image_rect_meters" />
    <arg name="mono_image" default="/rgb/image_mono" />
    <arg name="camera_info_rgb" default="/rgb/camera_info" />
    <arg name="camera_info_depth" default="/depth/camera_info" />
    <arg name="odom" default="/odom" />
    <arg name="ground_plane" default="/ground_plane" />
    <arg name="ground_hog_detections" default="/groundHOG/detections" />
    <arg name="upper_body_detections" default="/upper_body_detector/detections" />
    <arg name="upper_body_bb_centres" default="/upper_body_detector/bounding_box_centres" />
    <arg name="upper_body_markers" default="/upper_body_detector/marker_array" />
    <arg name="ground_hog_image" default="/groundHOG/image" />
    <arg name="upper_body_image" default="/upper_body_detector/image" />
    <arg name="visual_odometry" default="/visual_odometry/motion_matrix" />
    <arg name="people_array" default="/mdl_people_tracker/people_array" />
    <arg name="people_markers" default="/mdl_people_tracker/marker_array" />
    <arg name="people_poses" default="/mdl_people_tracker/pose_array" />
    <arg name="people_image" default="/mdl_people_tracker/image" />
    <arg name="tf_target_frame" default="/map" />
    <arg name="pd_positions" default="/people_tracker/positions" />
    <arg name="pd_marker" default="/people_tracker/marker_array" />
    <arg name="scan" default="/scan" />
    <arg name="log" default="false" />

    <arg name="machine" default="localhost" />
    <arg name="user" default="" />

    <machine name="$(arg machine)" address="$(arg machine)" env-loader="$(optenv ROS_ENV_LOADER )" user="$(arg user)" default="true"/>

    <!-- Ground HOG -->
    <include file="$(find strands_ground_hog)/launch/ground_hog_with_GP.launch">
        <arg name="machine" value="$(arg machine)"/>
        <arg name="user" value="$(arg user)"/>
        <arg name="load_params_from_file" value="$(arg load_params_from_file)"/>
        <arg name="queue_size" value="$(arg gh_queue_size)"/>
        <arg name="ground_plane" value="$(arg ground_plane)"/>
        <arg name="camera_namespace" value="$(arg camera_namespace)"/>
        <arg name="rgb_image" value="$(arg rgb_image)"/>
        <arg name="camera_info_depth" value="$(arg camera_info_depth)"/>
        <arg name="detections" value="$(arg ground_hog_detections)"/>
        <arg name="result_image" value="$(arg ground_hog_image)"/>
    </include>

    <!-- Visual Odometry
    <include file="$(find visual_odometry)/launch/visual_odometry.launch">
        <arg name="machine" value="$(arg machine)"/>
        <arg name="user" value="$(arg user)"/>
        <arg name="queue_size" value="$(arg vo_queue_size)"/>
        <arg name="camera_namespace" value="$(arg camera_namespace)"/>
        <arg name="motion_parameters" value="$(arg visual_odometry)"/>
    </include> -->

    <!-- Odometry -->
    <include file="$(find odometry_to_motion_matrix)/launch/odom2visual.launch">
        <arg name="machine" value="$(arg machine)"/>
        <arg name="user" value="$(arg user)"/>
        <arg name="odom" value="$(arg odom)"/>
        <arg name="motion_parameters" value="$(arg visual_odometry)"/>
    </include>


    <!-- Ground Plane - fixed -->
    <include file="$(find ground_plane_estimation)/launch/ground_plane_fixed.launch">
        <arg name="machine" value="$(arg machine)"/>
        <arg name="user" value="$(arg user)"/>
        <arg name="load_params_from_file" value="$(arg load_params_from_file)"/>
        <arg name="ptu_state" value="$(arg ptu_state)"/>
        <arg name="ground_plane" value="$(arg ground_plane)"/>
    </include>

    <!-- Upper Body Detector -->
    <include file="$(find upper_body_detector)/launch/upper_body_detector.launch">
        <arg name="machine" value="$(arg machine)"/>
        <arg name="user" value="$(arg user)"/>
        <arg name="load_params_from_file" value="$(arg load_params_from_file)"/>
        <arg name="queue_size" value="$(arg ubd_queue_size)"/>
        <arg name="camera_namespace" value="$(arg camera_namespace)"/>
        <arg name="rgb_image" value="$(arg rgb_image)"/>
        <arg name="depth_image" value="$(arg depth_image)"/>
        <arg name="camera_info_depth" value="$(arg camera_info_depth)"/>
        <arg name="upper_body_detections" value="$(arg upper_body_detections)"/>
        <arg name="upper_body_bb_centres" value="$(arg upper_body_bb_centres)"/>
        <arg name="upper_body_image" value="$(arg upper_body_image)"/>
        <arg name="upper_body_markers" value="$(arg upper_body_markers)"/>
        <arg name="ground_plane" value="$(arg ground_plane)"/>
    </include>

    <!-- Pedestrian Tracking -->
    <include file="$(find mdl_people_tracker)/launch/mdl_people_tracker_with_HOG.launch">
        <arg name="machine" value="$(arg machine)"/>
        <arg name="user" value="$(arg user)"/>
        <arg name="load_params_from_file" value="$(arg load_params_from_file)"/>
        <arg name="queue_size" value="$(arg pt_queue_size)"/>
        <arg name="camera_namespace" value="$(arg camera_namespace)"/>
        <arg name="rgb_image" value="$(arg rgb_image)"/>
        <arg name="camera_info_rgb" value="$(arg camera_info_rgb)"/>
        <arg name="ground_plane" value="$(arg ground_plane)"/>
        <arg name="ground_hog" value="$(arg ground_hog_detections)"/>
        <arg name="upper_body_detections" value="$(arg upper_body_detections)"/>
        <arg name="visual_odometry" value="$(arg visual_odometry)"/>
        <arg name="people_array" value="$(arg people_array)"/>
        <arg name="people_image" value="$(arg people_image)"/>
        <arg name="people_markers" value="$(arg people_markers)"/>
        <arg name="people_poses" value="$(arg people_poses)"/>
        <arg name="target_frame" value="$(arg tf_target_frame)"/>
    </include>

    <!-- People Tracker -->
    <include file="$(find bayes_people_tracker)/launch/people_tracker.launch">
        <arg name="machine" value="$(arg machine)"/>
        <arg name="user" value="$(arg user)"/>
        <arg name="target_frame" value="$(arg tf_target_frame)"/>
        <arg name="positions" value="$(arg pd_positions)"/>
        <arg name="marker" value="$(arg pd_marker)"/>
    </include>

    <!-- To PoseArray -->
    <include file="$(find detector_msg_to_pose_array)/launch/to_pose_array.launch">
        <arg name="machine" value="$(arg machine)"/>
        <arg name="user" value="$(arg user)"/>
    </include>
    
    <!-- Leg Detector -->
    <node pkg="leg_detector" type="leg_detector" name="leg_detector" args="scan:=$(arg scan) $(find leg_detector)/config/trained_leg_detector.yaml" output="screen">
        <param name="fixed_frame" type="string" value="odom" />
    </node>
    
    <!-- Logging -->
    <include file="$(find bayes_people_tracker_logging)/launch/logging.launch">
        <arg name="machine" value="$(arg machine)"/>
        <arg name="user" value="$(arg user)"/>
        <arg name="log" value="$(arg log)"/>
    </include>

</launch> 
