<launch>
    <!-- Global paramters -->
    <arg name="gh_queue_size" default="10" />
    <arg name="gp_queue_size" default="5" />
    <!-- <arg name="vo_queue_size" default="5" /> -->
    <arg name="ubd_queue_size" default="5" />
    <arg name="pt_queue_size" default="10" />
    <arg name="model" default="$(find strands_ground_hog)/model/config" />
    <arg name="ubd_config_file" default="$(find strands_upper_body_detector)/config/config_Asus.inp" />
    <arg name="pt_config_file" default="$(find strands_pedestrian_tracking)/config/config_Asus.inp" />
    <arg name="gp_param_file" default="$(find strands_ground_plane)/config/fixed_gp.yaml" />
    <arg name="ptu_state" default="/ptu/state" />
    <arg name="template_file" default="$(find strands_upper_body_detector)/config/upper_temp_n.txt" />
    <arg name="camera_namespace" default="/head_xtion" />
    <arg name="odom" default="/odom" />
    <arg name="ground_plane" default="/ground_plane" />
    <arg name="ground_hog_detections" default="/groundHOG/detections" />
    <arg name="upper_body_detections" default="/upper_body_detector/detections" />
    <arg name="upper_body_bb_centres" default="/upper_body_detector/bounding_box_centres" />
    <arg name="ground_hog_image" default="/groundHOG/image" />
    <arg name="upper_body_image" default="/upper_body_detector/image" />
    <arg name="visual_odometry" default="/visual_odometry/motion_matrix" />
    <arg name="pedestrian_array" default="/pedestrian_tracking/pedestrian_array" />
    <arg name="pedestrian_image" default="/pedestrian_tracking/image" />
    <arg name="tf_target_frame" default="/map" />
    <arg name="pd_localisations" default="/pedestrian_localisation/localisations" />
    <arg name="pd_marker" default="/pedestrian_localisation/marker_array" />
    <arg name="log" default="false" />

    <arg name="machine" default="localhost" />
    <arg name="user" default="" />

    <machine name="$(arg machine)" address="$(arg machine)" env-loader="/opt/strands/strands_catkin_ws/devel/env.sh" user="$(arg user)" default="true"/>

    <!-- Ground HOG -->
    <include file="$(find strands_ground_hog)/launch/ground_hog_with_GP.launch">
        <arg name="machine" value="$(arg machine)"/>
        <arg name="user" value="$(arg user)"/>
        <arg name="queue_size" value="$(arg gh_queue_size)"/>
        <arg name="model" value="$(arg model)"/>
        <arg name="ground_plane" value="$(arg ground_plane)"/>
        <arg name="camera_namespace" value="$(arg camera_namespace)"/>
        <arg name="detections" value="$(arg ground_hog_detections)"/>
        <arg name="result_image" value="$(arg ground_hog_image)"/>
    </include>

    <!-- Visual Odometry
    <include file="$(find strands_visual_odometry)/launch/visual_odometry.launch">
        <arg name="machine" value="$(arg machine)"/>
        <arg name="user" value="$(arg user)"/>
        <arg name="queue_size" value="$(arg vo_queue_size)"/>
        <arg name="camera_namespace" value="$(arg camera_namespace)"/>
        <arg name="motion_parameters" value="$(arg visual_odometry)"/>
    </include> -->

    <!-- Odometry -->
    <include file="$(find strands_perception_people_utils)/launch/odom2visual.launch">
        <arg name="machine" value="$(arg machine)"/>
        <arg name="user" value="$(arg user)"/>
        <arg name="odom" value="$(arg odom)"/>
        <arg name="motion_parameters" value="$(arg visual_odometry)"/>
    </include>


    <!-- Ground Plane - fixed -->
    <include file="$(find strands_ground_plane)/launch/ground_plane_fixed.launch">
        <arg name="machine" value="$(arg machine)"/>
        <arg name="user" value="$(arg user)"/>
        <arg name="param_file" value="$(arg gp_param_file)"/>
        <arg name="ptu_state" value="$(arg ptu_state)"/>
        <arg name="ground_plane" value="$(arg ground_plane)"/>
    </include>

    <!-- Upper Body Detector -->
    <include file="$(find strands_upper_body_detector)/launch/upper_body_detector.launch">
        <arg name="machine" value="$(arg machine)"/>
        <arg name="user" value="$(arg user)"/>
        <arg name="queue_size" value="$(arg ubd_queue_size)"/>
        <arg name="config_file" value="$(arg ubd_config_file)"/>
        <arg name="template_file" value="$(arg template_file)"/>
        <arg name="camera_namespace" value="$(arg camera_namespace)"/>
        <arg name="upper_body_detections" value="$(arg upper_body_detections)"/>
        <arg name="upper_body_bb_centres" value="$(arg upper_body_bb_centres)"/>
        <arg name="upper_body_image" value="$(arg upper_body_image)"/>
        <arg name="ground_plane" value="$(arg ground_plane)"/>
    </include>

    <!-- Pedestrian Tracking -->
    <include file="$(find strands_pedestrian_tracking)/launch/pedestrian_tracking.launch">
        <arg name="machine" value="$(arg machine)"/>
        <arg name="user" value="$(arg user)"/>
        <arg name="queue_size" value="$(arg pt_queue_size)"/>
        <arg name="config_file" value="$(arg pt_config_file)"/>
        <arg name="camera_namespace" value="$(arg camera_namespace)"/>
        <arg name="ground_plane" value="$(arg ground_plane)"/>
        <arg name="ground_hog" value="$(arg ground_hog_detections)"/>
        <arg name="upper_body_detections" value="$(arg upper_body_detections)"/>
        <arg name="visual_odometry" value="$(arg visual_odometry)"/>
        <arg name="pedestrian_array" value="$(arg pedestrian_array)"/>
        <arg name="pedestrian_image" value="$(arg pedestrian_image)"/>
    </include>

    <!-- Pedestrian Localisation -->
    <include file="$(find strands_pedestrian_localisation)/launch/pedestrian_localisation.launch">
        <arg name="machine" value="$(arg machine)"/>
        <arg name="user" value="$(arg user)"/>
        <arg name="target_frame" value="$(arg tf_target_frame)"/>
        <arg name="pedestrian_array" value="$(arg pedestrian_array)"/>
        <arg name="localisations" value="$(arg pd_localisations)"/>
        <arg name="marker" value="$(arg pd_marker)"/>
    </include>

    <!-- Logging -->
    <include file="$(find strands_perception_people_utils)/launch/logging.launch">
        <arg name="machine" value="$(arg machine)"/>
        <arg name="user" value="$(arg user)"/>
        <arg name="log" value="$(arg log)"/>
    </include>

</launch> 
