<launch>
    <arg name="load_params_from_file" default="true" />
    <arg name="param_file" default="$(find ground_plane_estimation)/config/fixed_gp.yaml" />
    <rosparam command="load" file="$(arg param_file)" if="$(arg load_params_from_file)"/>

    <arg name="ptu_state" default="/ptu/state" />
    <arg name="ground_plane" default="/ground_plane" />
    <arg name="machine" default="localhost" />
    <arg name="user" default="" />

    <machine name="$(arg machine)" address="$(arg machine)" env-loader="$(optenv ROS_ENV_LOADER )" user="$(arg user)" default="true"/>

    <node pkg="ground_plane_estimation" type="ground_plane_fixed" name="ground_plane" output="log" respawn="true">
        <param name="ptu_state" value="$(arg ptu_state)" type="string"/>
        <param name="ground_plane" value="$(arg ground_plane)" type="string"/>
    </node>

</launch> 
